$$START TITLE
About
$$END TITLE

$$START CONTENT
<h1>About</h1>

<h2>About Website</h2>
<p>
	This website was made without complex javascript or css so that it is easy to load
	and read on all browsers, including terminal and js-less browsers like netsurf.
	Additionally, I wrote a shell script to generate this website automatically
	from a hiearchical filesystem of html files. It is written with extremely basic
	css yet looks somewhat modern. If you're interested, you can get the source
	code here:
</p>

<code>git clone git://prestonpan.tech/prestonpan.git</code>

<h2>Business</h2>

<p>
	I'm currently looking for employment. In my resume listed at the very bottom, I list my skills and credentials and
	you can hire me to do pretty much anything related to those things. Some suggestions
	for what you can hire me for include:
</p>

<ul>
	<li>Being a math tutor for calculus or high school mathematics</li>
	<li>Doing a small amount of programming work (please message me for the specific job; I can't do everything)</li>
	<li>Teaching piano improvisation</li>
	<li>Doing piano improvisation for a business in Vancouver or Victoria</li>
	<li>Tutoring for programming</li>
</ul>

<p>
	Also, if you like my <a href="/projects/dotfiles">dotfiles</a>, I can make some custom dotfiles for you
	for a small price that can be negotiated, with whatever colors, distribution and window manager you want with keybindings
	for programs that you use. I only ask that I can release it to the general public a few months after you
	commission it.
</p>

<h2>Articles</h2>
<ul>
	<li><a href="./resume.pdf">Resume</a> -- My resume. I'm looking for employment right now!</li>
	<li><a href="./contact.html">Contact</a> -- How to contact me.</li>
	<li><a href="./technology.html">About Technology</a> -- about the software/hardware that I use.</li>
</ul>

$$END CONTENT
