$$START TITLE
Dotfiles
$$END TITLE

$$START CONTENT
<h1>Dotfiles</h1>
<p>
	My dotfiles are dracula themed and are inspired by <a href="https://lukesmith.xyz">Luke Smith's</a>
	<a href="https://github.com/LukeSmithxyz/voidrice/">voidrice</a> dotfiles. All the builds of suckless
	software are original builds, and there is a decent amount of originality in my dotfiles as well.
</p>

<p>
	I will make an install script for my dotfiles and suckless builds at a later date, probably for common distributions like
	Arch, Void, and Debian specifically. Included are two wallpapers, one made by the folks that make
	<a href="https://draculatheme.com"> the dracula theme</a>, and one of them was a picture taken by
	<a href="https://kaistevenson.com">Kai Stevenson</a>. I trust that you'll figure out which one's which.
</p>

<img src="/img/rice3.png" alt="Picture taken of dotfiles">

<p>You can get the dotfiles here:</p>
<code>git clone git://prestonpan.tech/dotfiles_dracula.git</code>

<p>And given a certain suckless program, you can clone my version like this:</p>
<code>git clone git://prestonpan.tech/[suckless_program]_dracula.git</code>

<p>
	If you still have problems getting the copies of the software, you can
	<a href="https://git.prestonpan.tech">browse my git frontend</a> for the software
	names.
</p>
$$END CONTENT
