$$START TITLE
Calculus
$$END TITLE

$$START CONTENT
<h1>Calculus</h1>
<p>
Calculus is the age-old study of infinetesimal rates of change.
I write articles here from the perspective of hyperreal numbers
instead of using limits because they were the original intuitive
way that calculus was invented (and how I originally reinvented
the derivative).
</p>

<p>
	You can also <a href="./source">browse the groff source files</a>,
	as well as use, modify, and distribute them to your liking.
</p>

<h2>Elementary Calculus</h2>
<ul>
	<li><a href="./derivative.pdf">Derivative</a> -- a fundamental operation regarding calculus.</li>
	<li><a href="./derivative_identities.pdf">Derivative Identities</a> -- Deriving identities related to derivatives of simple functions.</li>
	<li><a href="./derivative_rules.pdf">Derivative Rules</a> -- Deriving common derivative rules.</li>
</ul>

<h2>Multivariable</h2>
<ul>
	<li><a href="./partial_derivative.pdf">Partial Derivative</a> -- a fundamental operation regarding mulitvariable calculus.</li>
</ul>

$$END CONTENT
