$$START TITLE
Preston Pan
$$END TITLE

$$START CONTENT
<h1>Preston Pan (aka LiCoO2)</h1>

<p>
	Hi! I'm Preston Pan, and this is my v3 of my website.
	I've got it to work with a shell script that I made.
	In the future, I might release the shell script as a separate
	thing, but for now it's a part of the
	<a href="https://society.nullring.xyz">Null Identity</a> website
	and this one.
</p>

<p>Some things about myself:</p>
<ul>
	<li>I play improvisational piano, and I sing as a hobby.</li>
	<li>I do some amount of programming as a hobby.</li>
	<li>I also do some amount of mathematics and physics as a hobby.</li>
	<li>I try to read up on economics as a hobby.</li>
	<li>I'm trying to get my ham radio basic license.</li>
</ul>

<p>
	Of course, those are rather surface level things, but the point is that
	you will find things related to the topics above on this website.
	The website is structured in a hiearchical format just like in filesystems
	because I find that to be the easiest balance between user simplicity
	and developer simplicity.
</p>

<p>
	Note: most things on this website will 404 right now simply because of the
	fact that I have a limited amount of time and have just changed the backend
	for this website.
</p>

<h2>Topics</h2>

<p>Here, you will find topics related to: </p>
<ul>
	<li><a href="./about/">About</a> -- About me and this website.</li>
	<li><a href="./mathematics/">Mathematics</a> -- An underlying framework for all things that are logical.</li>
	<li><a href="./music/">Music</a> -- my piano playing and singing (and maybe other instruments too).</li>
	<li><a href="./physics/">Physics</a> -- Rates of change!</li>
	<li><a href="./economics/">Economics</a> -- Rates of exchange!</li>
	<li><a href="./technology/">Technology</a> -- Rates of finger pain! (Just kidding, I'm not an emacs user).</li>
	<li><a href="./projects/">Projects</a> -- programming and other projects.</li>
	<li><a href="./philosophy/">Philosophy</a> -- An underlying framework for all things that are.</li>
</ul>

<p>Many articles will be written in groff and compiled to pdf.</p>

<h2>Services</h2>

<p>Here are the services that I run on my server/socially:</p>
<ul>
	<li><a href="https://git.prestonpan.tech/prestonpan.git/atom">rss feed</a> -- atom feed for the website commit page to keep you updated on changes.</li>
	<li><a href="https://fedi.andrei.website/u/LiCoO2/rss">rss feed (2)</a> -- rss feed for my honk account, a fediverse server.</li>
	<li><a href="https://radio.nullring.xyz">Radio</a> -- listen to music that Null Identity people have composed.</li>
	<li><a href="gopher://prestonpan.tech">Gopherhole</a> -- logs for andrei.website and other cool stuff, must be viewed with a gopher client.</li>
	<li><a href="https://git.prestonpan.tech">Git server</a> -- see the code that I write or my dotfiles and other stuff.</li>
	<li><a href="https://nullring.xyz">The null webring</a> -- a webring that I made (apparently there is another one by this name but ignore that).</li>
	<li><a href="https://society.nullring.xyz">The Null Identity </a> -- it's a <b>ahem</b> tightly knit community located in victoria. Yeah, that's the term.</li>
	<li>IRC server: ircs://prestonpan.tech:6697, no verification of tls (self signed).</li>
	<li>I2P website: <pre class="crypto-pre"><code class="crypto">http://5ziug5tklfrep5gy3gv52xsoujq3nuxstqcj7a2s4jz4psveek4q.b32.i2p</code></pre>, if you are on i2p and want to see my clearnet website, it is at https://prestonpan.tech.</li>
</ul>

<h2>Webrings</h2>

<p>This website is a part of the following webrings:</p>
<h3>The Null Webring</h3>
<p><a href="https://kaistevenson.com">prev</a> <a href="https://nullring.xyz">Nullring</a> <a href="https://pen15.agency">next</a></p>

<h2>Donating</h2>
<p>
	Basically, if you like any of what I am doing, donate! My servers aren't free, and I do run a lot of stuff
	for the tech related community in our school, and I also try to write good software. I like monero as a
	donation method because:
</p>
<ul>
	<li>The network is probably going to last longer than other cryptocurrencies due to it actually being private and self-sustaining.</li>
	<li>Compared to services like PayPal, I don't care about having an account or any extra glitter. I just want a simple payment method that can be anonymous.</li>
	<li>The transaction fees are extremely low compared to other cryptocurrencies.</li>
	<li>Proof of work is bad for the environment, but I'll start caring about that when I get taxed for carbon consumption or something.</li>
</ul>

<p>Here are some methods of donating I support:</p>
<ul>
	<li>XMR, OpenAlias: preston@prestonpan.tech</li>
	<li>XMR: <pre class="crypto-pre"><code class="crypto">46RF35tTC9XhoRh745E9HkXD92t64SJw5Zby9ugNGmo2gGxM7iMhYuWAfhxp9FSQMeFKxcS2yoNLpQxPfpeThSQGH1YDr6e</code></pre></li>
</ul>
<p>
	Thanks a lot for your support!
</p>
$$END CONTENT
